<div class="row">
  <div class="col-12">
      <h5 class="card-header">MOVIES ACTEUR</h5>
      <div class="table-responsive text-nowrap">
          <table class="table">
              <thead>
                  <tr>
                      <th>#ID</th>
                      <th>IMG</th>
                      <th>NOM</th>
                      <th>NATIONALITY</th>
                      <th>BIRTHDAY</th>
                      <th>ACTIONS</th>
                      <th>
                          <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#backDropModal">
                              <i class="bx bx-plus me-1"></i> Ajouter Acteur
                          </a>
                      </th>
                  </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                  <tr *ngFor="let act of listActeur">
                      <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ act.id }}</strong></td>
                      <td>
                          <img [src]="'data:image/jpeg;base64,' + act.image" alt="{{ act.image }}" width="150" height="80">
                      </td>
                      <td>{{ act.name }}</td>
                      <td>{{ act.nationality }}</td>
                      <td>{{ act.birthdate | date }}</td>
                      <td>
                          <a class="dropdown-item" data-bs-toggle="modal" (click)="edit(act.id)" data-bs-target="#backDropModal">
                              <i class="bx bx-edit-alt me-1"></i> Edit
                          </a>
                          <a class="dropdown-item" (click)="delete(act.id)">
                              <i class="bx bx-trash me-1"></i> Delete
                          </a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <div class="modal fade" id="backDropModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <form class="modal-content" #form="ngForm" (ngSubmit)="addActeur(form)">
            <div class="modal-header">
                <h5 class="modal-title" id="backDropModalTitle">ACTEUR</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="nameBackdrop" class="form-label">Name</label>
                        <input type="text" [(ngModel)]="acteur.name" name="name" #nameRef="ngModel" class="form-control" placeholder="Enter Name" required />
                        <div *ngIf="nameRef.invalid && (nameRef.dirty || nameRef.touched)" class="text-danger">
                            <div *ngIf="nameRef.errors?.['required']">Name is required.</div>
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="nationalityBackdrop" class="form-label">Nationality</label>
                        <input type="text" [(ngModel)]="acteur.nationality" name="nationality" #nationalityRef="ngModel" class="form-control" placeholder="Enter Nationality" required />
                        <div *ngIf="nationalityRef.invalid && (nationalityRef.dirty || nationalityRef.touched)" class="text-danger">
                            <div *ngIf="nationalityRef.errors?.['required']">Nationality is required.</div>
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="birthdayBackdrop" class="form-label">Birthday</label>
                        <input type="date" [(ngModel)]="acteur.birthdate" name="birthdate" #birthdateRef="ngModel" class="form-control" placeholder="Enter Birthday" required />
                        <div *ngIf="birthdateRef.invalid && (birthdateRef.dirty || birthdateRef.touched)" class="text-danger">
                            <div *ngIf="birthdateRef.errors?.['required']">Birthday is required.</div>
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="imageBackdrop" class="form-label">Image</label>
                        <input type="file" name="imgActeur" (change)="onFileSelcted($event)"  class="form-control" required />
                       
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save</button>
            </div>
        </form>
    </div>
</div>

</div>
