<div class="row">
    <div class="col-12">
      <h5 class="card-header">MOVIES GENRE</h5>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>#ID</th>
              <th>Commentaire</th>
              <th>Sentiment</th>
              <th>Film</th>
              <th>Utilisateur</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <tr *ngFor="let c of listcom">
              <td>
                <i class="fab fa-angular fa-lg text-danger me-3"></i>
                <strong>{{ c.id }}</strong>
              </td>
              <td>{{ c.commentaire }}</td>
              <td>{{ c.sentiment }}</td>
              <td>{{ c.films.title }}</td>
              <td>{{ c.utilisateurs.nom + ' ' + c.utilisateurs.prenom }}</td>
              <td>
                <button class="btn btn-danger" (click)="delete(c.id)">
                  <i class="bx bx-trash me-1"></i> Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  