<!-- ==========Banner-Section========== -->
<section
  class="details-banner"
  [style.backgroundImage]="'url(data:image/jpeg;base64,' + film.imageCov + ')'"
>
  <div class="container">
    <div class="details-banner-wrapper">
      <div class="details-banner-thumb">
        <img
          [src]="'data:image/jpeg;base64,' + film.imageBase"
          alt="{{ film.imageBase }}" width="300" height="300"
        />
        
      </div>
      <div class="details-banner-content offset-lg-3">
        <h3 class="title">{{ film.title }}</h3>

        <a href="#0" class="button">{{ film.genre.nomGenere }}</a>
        <div class="social-and-duration">
          <div class="duration-area">
            <div class="item">
              <i class="fas fa-calendar-alt"></i
              ><span>{{ film.releaseDate | date }}</span>
            </div>
            <div class="item">
              <i class="far fa-clock"></i><span>{{ film.duree }} Min</span>
            </div>
          </div>

          <ul class="social-share">
            <li>
              <a href="#0"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#0"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#0"><i class="fab fa-pinterest-p"></i></a>
            </li>
            <li>
              <a href="#0"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li>
              <a href="#0"><i class="fab fa-google-plus-g"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ==========Banner-Section========== -->

<!-- ==========Book-Section========== -->
<section class="book-section bg-one">
  <div class="container">
    <div class="book-wrapper offset-lg-3">
      <div class="left-side">
        <div class="item">
          <div class="item-header">
            <div class="thumb">
              <img src="assets/images/movie/cake2.png" alt="movie" />
            </div>
            <div class="counter-area">
              <span>{{ nbrcomments }}</span>
            </div>
          </div>
          <p>Comments</p>
        </div>
        <div class="item">
          <div class="item-header">
            <h5 class="title">{{ positiverating }} %</h5>
            <div class="rated">
              <i class="fas fa-thumbs-up"></i>
            </div>
          </div>
          <p>Positive Review</p>
        </div>
        <div class="item">
          <div class="item-header">
            <div class="rated rate-it">
              <i class="fas fa-thumbs-down"></i>
            </div>
            <h5 class="title">{{ nigativeating }}%</h5>
          </div>
          <p><a href="#0">Negative Rating</a></p>
        </div>
      </div>
      <a
        href="#0"
        (click)="getfilmByid(film.id)"
        data-toggle="modal"
        data-target="#exampleModalCenter"
        class="custom-button"
        >Reserve now</a
      >
    </div>
  </div>
</section>

<section class="movie-details-section padding-top padding-bottom">
  <div class="container">
    <div class="row justify-content-center flex-wrap-reverse mb--50">
      <div class="col-lg-3 mb-50">
        <h5 class="title">Wath it On this Time</h5>
        <div class="mb-10">
          <div class="card-header" *ngFor="let filmdate of listCalanByFilm">
            <b style="color: red">{{
              filmdate.showDate | date : "dd-MM-yyyy HH:mm"
            }}</b>
          </div>
        </div>
      </div>
      <div class="col-lg-9 mb-50">
        <div class="movie-details">
          <div class="tab summery-review">
            <ul class="tab-menu">
              <li class="active">story</li>
              <li>user review</li>
            </ul>
            <div class="tab-area">
              <div class="tab-item active">
                <div class="item">
                  <h5 class="sub-title">description</h5>
                  <p>
                    {{ film.description }}
                  </p>
                </div>
                <div class="item">
                  <div class="header">
                    <h5 class="sub-title">cast</h5>
                  </div>
                  <div>
                    <div class="cast-item row">
                      <div class="cast-thumb cast-content mb-3">
                        <a href="#0">
                          <img
                            [src]="
                              'data:image/jpeg;base64,' + film.acteur.image
                            "
                            alt="{{ film.acteur.image }}"
                            alt="cast"
                          />
                        </a>

                        <h6 class="cast-title mt-5">
                          <a href="#0">{{ film.acteur.name }}</a>
                        </h6>
                        <span class="cate">actor</span>
                      </div>
                      <div class="cast-thumb cast-content mb-3">
                        <a href="#0">
                          <img
                            [src]="
                              'data:image/jpeg;base64,' + film.director.image
                            "
                            alt="{{ film.director.image }}"
                            alt="cast"
                          />
                        </a>

                        <h6 class="cast-title mt-5">
                          <a href="#0">{{ film.director.name }}</a>
                        </h6>
                        <span class="cate">Director</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-item">
                <div class="movie-review-item">
                  <div
                    class="movie-review-content"
                 
                  >
                
                    <div class="review" *ngIf="!loginOrNot()">
                      Pleas login to put your review
                      <a routerLink="/login"> Login</a>
                    </div>
                  </div>
                  <div class="movie-review-content">
                    <div class="review" *ngIf="!loginOrNot()">
                      Pleas login to put your review
                      <a routerLink="/login"> Login</a>
                    </div>
                  </div>
                </div>
                <div class="movie-review-item" *ngIf="loginOrNot()">
                  <div class="movie-review-content">
                    <form #form="ngForm" (ngSubmit)="saveNewCommentaire(form)">
                      <div>
                        <input
                          type="hidden"
                          [(ngModel)]="film.id"
                          name="films"
                          value="{{ film.id }}"
                        />
                        <input
                          type="hidden"
                          [(ngModel)]="client.id"
                          name="client"
                          value="{{ client.id }}"
                        />
                        <textarea
                          class="form-control mb-5"
                          [(ngModel)]="commenatire.commentaire"
                          name="commentaire"
                        ></textarea>
                        <button type="submit" class="btn btn-success">
                          put comment
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="envoyerReservation(form)">
          <div class="form-group">
            <label> Nom de Film </label>
            <input
              class="form-control"
              [(ngModel)]="reserv.films.id"
              name="films"
              value="{{ film.title }}"
            />
          </div>
          <div class="form-group">
            <label> Choisir date </label>
            <select class="form-control" [(ngModel)]="reserv.date" name="date">
              <option *ngFor="let c of listbyFilm" value="{{ c.showDate }}">
                {{ c.showDate | date : "dd-MM-yyyy HH:mm" }}
              </option>
            </select>
          </div>

          <input
            type="text"
            [(ngModel)]="reserv.utilisateurs.id"
            name="utilisateurs"
            value="{{ client.id }}"
          />
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
