<div class="row">
  <div class="col-12">
    <h5 class="card-header">MOVIES GENRE</h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>#ID</th>
            <th>nom</th>
            <th>prenom</th>
            <th>email</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr *ngFor="let u of listutilisateur">
            <td>
              <i class="fab fa-angular fa-lg text-danger me-3"></i>
              <strong>
                {{ u.id }}
              </strong>
            </td>

            <td>
              {{ u.nom }}
            </td>
            <td>
              {{ u.prenom }}
            </td>
            <td>
              {{ u.username }}
            </td>

            <td>
              <button
                class="btn btn-primary"
                *ngIf="u.etat"
                (click)="activedesactive(u.id)"
                ><i class="bx bx-trash me-1"></i> Activated
            </button>
              <button
                class="btn btn-danger"
                *ngIf="!u.etat"
                (click)="activedesactive(u.id)"
                ><i class="bx bx-trash me-1"></i> Desactivated</button
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
