<section
  class="main-page-header speaker-banner bg_img"
  data-background="assets/images/banner/banner07.jpg"
>
  <div class="container">
    <div class="speaker-banner-content">
      <h2 class="title">about us</h2>
      <ul class="breadcrumb">
        <li>
          <a href="index.html"> Home </a>
        </li>
        <li>about us</li>
      </ul>
    </div>
  </div>
</section>
<!-- ==========Banner-Section========== -->

<!-- ==========Speaker-Single========== -->
<section class="about-section padding-top padding-bottom">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <div class="event-about-content">
          <div class="section-header-3 left-style m-0">
            <span class="cate">we are cinémato </span>
            <h2 class="title">Get to know us</h2>
            <p>
              At CINÉMATO, we are transforming the movie ticket reservation
              experience by focusing on enhancing customer satisfaction. We
              understand that audience satisfaction is crucial for cinema
              attendance, reputation, and profitability. That’s why we’ve
              developed an intelligent emotion detection system that leverages
              the latest advancements in text processing and natural language
              understanding.
            </p>
            <p>
              Traditionally, cinemas collect customer feedback through paper
              surveys, suggestion boxes, and online forms, which are often
              unreliable and slow. Our innovative technology provides precise
              and real-time analysis of audience reactions, enabling cinemas to
              gather authentic and instant feedback. With our solution, cinemas
              can improve customer satisfaction, strengthen their reputation,
              and optimize their profitability. Join us for an exceptional
              cinematic experience, where every viewer feels heard and valued.
              With CINÉMATO, book your movie tickets with confidence and enjoy
              superior service.
            </p>
            <a href="#0" class="custom-button">book tickets</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 d-none d-lg-block">
        <div class="about-thumb">
          <img src="assets/images/about/about01.png" alt="about" />
        </div>
      </div>
    </div>
  </div>
</section>
